/vendor/
/node_modules/

/private/.env
/private/.env.local
/private/.env.*.local

/public/build/
/public/openapi.json

/private/storage/cache/
/private/storage/logs/
/private/storage/sessions/
/private/storage/tmp/
/private/storage/database/*
!/private/storage/database/.gitkeep

/private/storage/dictionaries/*
!/private/storage/dictionaries/.gitkeep

/.idea/
.DS_Store
/.phpunit.result.cache
