/vendor/
/node_modules/

/private/.env
/private/.env.local
/private/.env.*.local

/public/build/
/public/openapi.json

/private/storage/cache/*
/private/storage/database/*
/private/storage/logs/*
/private/storage/sessions/*
/private/storage/tmp/*

!/private/storage/cache/.gitkeep
!/private/storage/database/.gitkeep
!/private/storage/logs/.gitkeep
!/private/storage/sessions/.gitkeep
!/private/storage/tmp/.gitkeep

/.idea/
.DS_Store